
@font-face {
  font-family: "pokemon";
  font-style: italic;
  font-weight: bold;
  src: url('./font/pokemon.ttf');
}

html {
  font-family: "pokemon";
}

body {
  margin: 0;
  padding: 0;
  background: url('./img/body_bg.png');
}

h1 {
  text-align: center;
  font-size: 60px;
}

/*Header*/
header {
  position: relative;
}
.pokemonIcon{
  width: 20vw;
  image-rendering: pixelated;
}
.main_img {
  position: relative;
  width: 100vw;
  height: 70vh;
  object-fit: contain;
}

.header_list {
  display: flex;
  height: 40px;
}

.header_list > * {
  position: relative;
  text-align: center;
  font-size: 20px;


  transition-timing-function: ease;
  transition-duration: 500ms;
  transition-property: background-color;
}

.header_list > *:hover {
  background-color: #ff2020; /*MAIS P***** CA MARCHE PAS*/
}

.header_list *:link {
  color: currentColor;
}

.header_list *:visited {
  color: currentColor;
}

.header_elem {
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
}

.header_elem_side {
  width: 190px;
}

.header_list span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;

  transition-duration: 500ms;
  transition-timing-function: ease;
}

.header_elem:hover > span, .header_elem_side:hover > span {
  color: white;
}

.header_sublist {
  position: absolute;
  width: 182px;
  top: 100%;
  height: 0;

  overflow: hidden;
  visibility: hidden;
  border-style: none solid solid solid;
  border-width: 4px;
  border-color: #ff2020; 
  background-color: #ffffff;
  transition-duration: 500ms;
  transition-timing-function: ease;
}

.header_elem_side:hover > .header_sublist {
  visibility: visible;
  height: 70px;
}

.header_sublist > *:link {
  color: currentColor;
  text-decoration: none;
}

.header_sublist > * {
  position: relative;

  transition-duration: 200ms;
  transition-timing-function: ease;
}

.header_sublist > *:hover {
  color: #ff2020;
}

.header_list > span {
  position: relative;
}

.header_list form {
  width: 0;
  height: 0;
}

.header_list button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

hr {
  margin: 0;

  border-style: solid;
  border-width: 2px;
  border-color: #ff2020;
}
/*Fin header*/

/*Liste pokemon / capacité*/
/* Containeur de la liste entière. */
.list_search {
  position: relative;
}

/*Containeur de chaque pokémon*/
.list_unit {
  position: relative;
  width: 100%;
}

.list_unit > button {
  width: 100%;
  height: 100%;
}
/*Fin Liste pokemon / capacité*/

/*Autre*/
.error {
  font-size: bold;
  color: #ff2020;
}

.display_none {
  display: none;
}

table {
  border-width: 1px;
  border-style: solid;
  background-color: rgba(206, 206, 206, 0.69);
  background-image:url('./img/container_bg.png');
  border-radius: 5px;
  max-width: 60vw;
  width: 100%;
  border-collapse: collapse;
}
table td, table th {
  text-align: left;
}
table td{
  border: 3px solid black;
}
table tr:first-child td{
  border-top: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:last-child {
  border-right: 0;
}
td + td, th + th {
  text-align: left;
}
.info{
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 40% 20% 40%;
  grid-auto-rows: minmax(100px, auto);
}

.pokemon_resistences td{
  border:5px solid black;
}
.txt{
  background-color: rgba(206, 206, 206, 0.69);
  background-image:url('./img/container_bg.png');
  margin-left: auto;
}
/*Fix creer un pokemon qui depasse*/
.create{
  min-height: 200px;
}
.list button{
  max-width: 35vw;
  margin-left: 35vw;
}
.list_unit{
  align-items: center;
}
button{
  background-color: rgba(206, 206, 206, 0.3);
  background-image:url('./img/container_bg.png');
}
.leftArrow{
  position: relative;
}
.rightArrow{
  position: relative;
}